* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: rgb(48, 48, 48);
}

h1 {
    font-size: 5em;
}

h1, h2, h3, p {
    color: white;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}